@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.html{
    height: 100%;
}
.body { 
    background-color: #f0f4fa;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width : 96%;
    height: 200%;

}

.navbar{
    padding-bottom: 6%;
}

.navbaritem{
    font-size: 240%;
    font-weight: bold;
    color: #1F384D;
    border: none;
    background-color: #f0f4fa;
    transition: 250ms;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f4fa;
    min-width: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    z-index: 1;
    transition: 250ms;
    border-radius: 7.5%;
    display:block; 
    visibility: hidden;
    opacity: 0 ;
}


  .dropdown-contentlink {
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #385680;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;  

  }

.dropdown-contentlink:hover{
    border-radius: 20%;
    color: #a6c8e2;
    background-color: #385680;
    box-shadow: 8px 8px 8px 8px 16px 0px rgba(189, 54, 54, 0.2);
}


.dropdown:hover .dropdown-content {display: block;     visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -webkit-transition: opacity 500ms ease-in-out;}

.navbarleft{float:left;}

.navbarright{float:right;}

.navbaritem:link { text-decoration: none;  }

.left{
    width: 60%;
    float:left;
    padding-left: 5%;

}
.right{
    margin-left: 65%;
}

.bottom{
    width: 96%;
    margin-top: 10.5%;
    text-align: center;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.Title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 375%;
    color: #1F384D;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: 250ms;  
}

.Title::after{
    content: "!";
    color: #356285;
}

.Title:hover{transform: translateY(-10px);}

hr {
    border-top: 7.5px solid rgb(34, 92, 200);
    width: 9%;
    margin-left: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.middleleftcontent{
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.text{
    font-size: 150%;
    color: #1F384D;
}

.name{
    font-size: 195%;
    font-weight: bold;
    color: #1F384D
}


.tamu{
    font-size: 150%;
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.links{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #1F384D;
    transition: 5s;
}

.contactlink:link { text-decoration: none; color: #356285; }

.contactlink:hover { text-decoration: underline; }

p{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    color: #1F384D
}

ul{
    list-style: none;
}

.quicklinkheader{
    font-size: 195%;
    font-weight: bold;
    color: #1F384D;
    margin-top: 5%;
    margin-bottom: 5%;
}

.quicklinklist{
    margin-right: 1%;
    display: inline;
}

.quicklinkpics{
    width: 1.9%;
    height: 1.9%;
    margin-right: .5%;
    margin-left: 1%;
}

.quicklinks{
    background-color: #A4C2DB;
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #1F384D;
    border:1px solid #A4C2DB;
    border-radius: 5px;
    padding-bottom: 1%; 
    padding-top: 1%; 
    padding-right: 1%; 
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.quicklinks:link { text-decoration: none; color: #356285;}

.quicklinks:hover { text-decoration: none; background-color: #447ca7b0; }

.profpic{
    border-radius: 75%;
    width:50%;
    height:45%;
    border: 3px solid  #356285;
    margin-top: 15%;
    box-shadow: 22.5px 22.5px 10px #356285;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 250ms;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.profpic:hover{transform: translateY(-10px); box-shadow: 20px 20px 15px #051928;}

.morelist{
    margin-right: 2%;
    display: inline;
}

.more{
    background-color: #356285;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #356285;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;     
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.more:link { text-decoration: none; color: #356285;}

.more:hover { text-decoration: none; background-color: #2d5a7db0; }

@media screen and (max-width: 1322px) {
    .left {
      width: 100%;
      float: left;
    }
    .right {
        width: 100%;
        margin-left: auto;
        float: left;
        margin-bottom: 5%;
      }
}


@media screen and (max-device-aspect-ratio: 3/2) {
    .bottom{
        margin-top: 18%;
    }
  }
  






.bodyabout { 
    background-color: #f6f0fa;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width : 96%;
    height: 100%;
}

.whole{
    margin-left: 18%;
    margin-right: 18%;
    height: 100%;
}
.navbarabout{
    padding-bottom: 12.5%;
}

.navbaritemabout{
    font-size: 240%;
    font-weight: bold;
    color: #19102B;
    border: none;
    background-color: #f6f0fa;
    transition: 250ms;
}

.dropdown-contentabout {
    display: none;
    position: absolute;
    background-color: #f6f0fa;
    min-width: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    z-index: 1;
    transition: 250ms;
    border-radius: 7.5%;
    display:block; 
    visibility: hidden;
    opacity: 0 ;
}


  .dropdownabout-contentlinkabout {
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #4C3180;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;  

  }

.dropdownabout-contentlinkabout:hover{
    border-radius: 20%;
    color: #f6f0fa;
    background-color: #4C3180;
    box-shadow: 8px 8px 8px 8px 16px 0px rgba(189, 54, 54, 0.2);
}

.dropdownabout:hover .dropdown-contentabout {display: block;     visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -webkit-transition: opacity 500ms ease-in-out;}

.navbaritemabout:link { text-decoration: none;  }

.description{
    padding-bottom: 10%;
}

.Titleabout {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 375%;
    color: #19102B;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: 250ms;  
}

.Titleabout::after{
    content: ".";
    color: #4C3180;
}

.Titleabout:hover{transform: translateY(-10px);}

.textabout{
    line-height: 1.5em;
    font-size: 150%;
    color: #19102B;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.tamuabout{
    font-size: 105%;
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.boldabout{
    transition: 250ms;  
}
.boldabout:hover{
    color: #7d51cd;
}

.hrabout{
    border-top: 7.5px solid #4C3180;
    width: 9%;
    margin-left: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.scrollabout{
    font-size: 150%;
    color: #19102B;
    text-align: center;
    padding-bottom: 40%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.vertlineabout{
    border-left: 1px solid #19102B;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 85%;   
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.container{
    padding-bottom: 15%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.subtitleabout{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: #19102B;
    transition: 250ms;  
}

.subtitleabout::after{
    content: ";";
    color: #4C3180;
}

.subtitleabout:hover{transform: translateY(-10px);}

.logoabout{
    border: 3px solid  #19102B;
    box-shadow: 5px 5px 10px #19102B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.logoabout:hover{
    transform: translateY(-15px);   
    border: 3px solid  #6c48b3;
    box-shadow: 15px 15px 5px #19102B;
}

.leftabout{
    width: 65%;
    float:left;
    padding-left: 0%;
}

.rightabout{
    margin-left: 70%;
    height: 100%;
}

.left2about{
    width: 30%;
    float:left;
    padding-left: 0%;

}

.right2about{
    margin-left: 38%;
}

.bottomabout{
    margin-top: 4%;
    width: 100%;
    text-align: center;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.footer{
    text-align: center;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.linksabout{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #4C3180;
    transition: 5s;
}

.contactlinkabout:link { text-decoration: none; color: #4C3180; }

.contactlinkabout:hover { text-decoration: underline; }

ul{
    list-style: none;
}

.morelist{
    display: inline;
}

.moreabout{
    background-color: #2a1b47;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #19102B;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreabout:link { text-decoration: none; color: #356285;}

.moreabout:hover { text-decoration: none; background-color: #652d7db0; }

@media screen and (max-width: 1322px) {
    .vertlineabout{
        border-left: 0px;
    }
    .leftabout {
      width: 100%;
      float: left;     
      margin-bottom: 5%;

    }
    .rightabout {
        width: 100%;
        margin-left: auto;
        float: left;
        margin-bottom: 5%;
    }
    .left2about {
        width: 100%;
        float: left;
        margin-bottom: 5%;

    }
      .right2about {
          width: 100%;
          margin-left: auto;
          float: left;
          margin-bottom: 5%;

      }
}







.bodyport { 
    background-color: #eee5e4;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width : 96%;
    height: 100%;
}

.whole{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}
.navbarabout{
    padding-bottom: 12.5%;
}

.navbaritemport{
    font-size: 240%;
    font-weight: bold;
    color: #3C120B;
    border: none;
    background-color: #eee5e4;
    transition: 250ms;
}

.navbaritemport:link { text-decoration: none;  }


.dropdown-contentport {
    display: none;
    position: absolute;
    background-color: #eee5e4;
    min-width: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    z-index: 1;
    transition: 250ms;
    border-radius: 7.5%;
    display:block; 
    visibility: hidden;
    opacity: 0 ;
}


  .dropdownport-contentlinkport {
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #c8452e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;  

  }

.dropdownport-contentlinkport:hover{
    border-radius: 20%;
    color: #eee5e4;
    background-color: #c8452e;
    box-shadow: 8px 8px 8px 8px 16px 0px rgba(189, 54, 54, 0.2);
}

.dropdownport:hover .dropdown-contentport {display: block;     visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -webkit-transition: opacity 500ms ease-in-out;}


.description{
    padding-bottom: 10%;
}

.Titleport {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 375%;
    color: #3C120B;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: 250ms;  
}

.Titleport::after{
    content: "++";
    color: #A1311C;
}

.Titleport:hover{transform: translateY(-10px);}

.textport{
    line-height: 1.5em;
    font-size: 150%;
    color: #3C120B;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.tamuabout{
    font-size: 105%;
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.boldport{
    transition: 250ms;  
}
.boldport:hover{
    color: #A1311C;
}

.hrport{
    border-top: 7.5px solid #c8452e;
    width: 9%;
    margin-left: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.scrollport{
    font-size: 150%;
    color: #3C120B;
    text-align: center;
    padding-bottom: 40%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.vertlineport{
    border-left: 1px solid #3C120B;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 85%;   
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.container{
    padding-bottom: 15%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.sep{
    border-top: 2px solid #c8452e;
    width: 85%;
    margin: 0% 0% 10% 0%;
    margin-left: auto;
    margin-right: auto;
}

.subtitleport{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: #3C120B;
    transition: 250ms;  
}

.subtitleport::after{
    content: "++";
    color: #c8452e;
}

.subtitleport:hover{transform: translateY(-10px);}

.logoport{
    border: 3px solid  #3C120B;
    box-shadow: 5px 5px 10px #3C120B;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.logoport:hover{
    transform: translateY(-15px);   
    border: 3px solid  #c8452e;
    box-shadow: 15px 15px 5px #3C120B;
}

.logotitle{
    font-weight: bold;
    line-height: 1.5em;
    font-size: 120%;
    color: #c8452e;
    padding-bottom: 5%;
}

.leftabout{
    width: 65%;
    float:left;
    padding-left: 0%;
}

.rightabout{
    margin-left: 70%;
    padding-top: 3%;
    height: 100%;
}

.left2about{
    width: 30%;
    float:left;
    padding-left: 0%;
    padding-top: 3%;
}

.right2about{
    margin-left: 38%;
}

.bottomport{
    margin-top: 4%;
    width: 100%;
    text-align: left;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.footerport{
    margin-top: 7%;
    text-align: center;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.linksport{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #3C120B;
    transition: 5s;
}

.contactlinkport:link { text-decoration: none; color: #c8452e; }

.contactlinkport:hover { text-decoration: underline; }

.moreul{
    list-style: none;
}

.morelist{
    display: inline;
}

.moreport{
    background-color: #3C120B;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #3C120B;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreport:link { text-decoration: none; color: #ffffff;}

.moreport:hover { text-decoration: none; background-color: #e09689; }

.moreul2{
    list-style: none;
    padding-left: 0;
}

.moreport2{
    background-color: #3C120B;
    margin-left: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #3C120B;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreport2:link { text-decoration: none; color: #ffffff;}

.moreport2:hover { text-decoration: none; background-color: #e09689; }

@media screen and (max-width: 1322px) {
    .vertlineabout{
        border-left: 0px;
    }
    .leftabout {
      width: 100%;
      float: left;     
      margin-bottom: 5%;

    }
    .rightabout {
        width: 100%;
        margin-left: auto;
        float: left;
        margin-bottom: 5%;
    }
    .left2about {
        width: 100%;
        float: left;
        margin-bottom: 5%;

    }
      .right2about {
          width: 100%;
          margin-left: auto;
          float: left;
          margin-bottom: 5%;

      }
}


















.bodyexp { 
    background-color: #ebf9eb;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width : 96%;
    height: 100%;
}

.whole{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}
.navbarabout{
    padding-bottom: 12.5%;
}

.navbaritemexp{
    font-size: 240%;
    font-weight: bold;
    color: #0D340D;
    border: none;
    background-color: #ebf9eb;
    transition: 250ms;
}

.navbaritemexp:link { text-decoration: none;  }


.dropdown-contentexp {
    display: none;
    position: absolute;
    background-color: #ebf9eb;
    min-width: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    z-index: 1;
    transition: 250ms;
    border-radius: 7.5%;
    display:block; 
    visibility: hidden;
    opacity: 0 ;
}


  .dropdownexp-contentlinkexp {
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #259225;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;  

  }

.dropdownexp-contentlinkexp:hover{
    border-radius: 20%;
    color: #ebf9eb;
    background-color: #259225;
    box-shadow: 8px 8px 8px 8px 16px 0px rgba(189, 54, 54, 0.2);
}

.dropdownexp:hover .dropdown-contentexp {display: block;     visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -webkit-transition: opacity 500ms ease-in-out;}


.description{
    padding-bottom: 10%;
}

.Titleexp {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 375%;
    color: #0D340D;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: 250ms;  
}

.Titleexp::before{
    content: '//';
    color: #259225;
}

.Titleexp:hover{transform: translateY(-10px);}

.textexp{
    line-height: 1.5em;
    font-size: 150%;
    color: #0D340D;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.tamuabout{
    font-size: 105%;
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.boldexp{
    transition: 250ms;  
}
.boldexp:hover{
    color: #259225;
}

.hrexp{
    border-top: 7.5px solid #5fd25f;
    width: 9%;
    margin-left: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.scrollexp{
    font-size: 150%;
    color: #0D340D;
    text-align: center;
    padding-bottom: 40%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.vertlineexp{
    border-left: 1px solid #3C120B;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 85%;   
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.container{
    padding-bottom: 15%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.sepexp{
    border-top: 2px solid #259225;
    width: 85%;
    margin: 0% 0% 10% 0%;
    margin-left: auto;
    margin-right: auto;
}

.subtitleexp{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: #0D340D;
    transition: 250ms;  
}

.subtitleexp::before{
    content: "//";
    color: #259225;
}

.subtitleexp:hover{transform: translateY(-10px);}

.logoexp{
    border: 3px solid  #0D340D;
    box-shadow: 5px 5px 10px #0D340D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.logoexp:hover{
    transform: translateY(-15px);   
    border: 3px solid  #259225;
    box-shadow: 15px 15px 5px #0D340D;
}

.logotitleexp{
    font-weight: bold;
    line-height: 1.5em;
    font-size: 120%;
    color: #259225;
    padding-bottom: 5%;
}

.leftabout{
    width: 65%;
    float:left;
    padding-left: 0%;
}

.rightabout{
    margin-left: 70%;
    padding-top: 3%;
    height: 100%;
}

.left2about{
    width: 30%;
    float:left;
    padding-left: 0%;
    padding-top: 3%;
}

.right2about{
    margin-left: 38%;
}

.bottomport{
    margin-top: 4%;
    width: 100%;
    text-align: left;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.footerport{
    margin-top: 7%;
    text-align: center;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.linksexp{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #0D340D;
    transition: 5s;
}

.contactlinkexp:link { text-decoration: none; color: #259225; }

.contactlinkexp:hover { text-decoration: underline; }

.moreul{
    list-style: none;
}

.morelist{
    display: inline;
}

.moreexp{
    background-color: #0D340D;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #0D340D;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreexp:link { text-decoration: none; color: #ffffff;}

.moreexp:hover { text-decoration: none; background-color: #3bc23b; }

.moreul2{
    list-style: none;
    padding-left: 0;
}

.moreexp2{
    background-color: #0D340D;
    margin-left: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #0D340D;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreexp2:link { text-decoration: none; color: #ffffff;}

.moreexp2:hover { text-decoration: none; background-color: #3bc23b; }

@media screen and (max-width: 1322px) {
    .vertlineabout{
        border-left: 0px;
    }
    .leftabout {
      width: 100%;
      float: left;     
      margin-bottom: 5%;

    }
    .rightabout {
        width: 100%;
        margin-left: auto;
        float: left;
        margin-bottom: 5%;
    }
    .left2about {
        width: 100%;
        float: left;
        margin-bottom: 5%;

    }
      .right2about {
          width: 100%;
          margin-left: auto;
          float: left;
          margin-bottom: 5%;

      }
}





























.bodyext { 
    background-color: #f9ebeb;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width : 96%;
    height: 100%;
}

.whole{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}
.navbarabout{
    padding-bottom: 12.5%;
}

.navbaritemext{
    font-size: 240%;
    font-weight: bold;
    color: #5a0606;
    border: none;
    background-color: #f9ebeb;
    transition: 250ms;
}

.navbaritemext:link { text-decoration: none;  }


.dropdown-contentext {
    display: none;
    position: absolute;
    background-color: #f9ebeb;
    min-width: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    z-index: 1;
    transition: 250ms;
    border-radius: 7.5%;
    display:block; 
    visibility: hidden;
    opacity: 0 ;
}


  .dropdownext-contentlinkext {
    font-family: 'Poppins', sans-serif;
    font-size: 180%;
    font-weight: bold;
    color: #a90000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 500ms;  

  }

.dropdownext-contentlinkext:hover{
    border-radius: 20%;
    color: #f9ebeb;
    background-color: #a90000;
    box-shadow: 8px 8px 8px 8px 16px 0px rgba(189, 54, 54, 0.2);
}

.dropdownext:hover .dropdown-contentext {display: block;     visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
   -moz-transition: opacity 500ms ease-in-out;
   -webkit-transition: opacity 500ms ease-in-out;}


.description{
    padding-bottom: 10%;
}

.Titleext {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 375%;
    color: #5a0606;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: 250ms;  
}

.Titleext::before{
    content: '//';
    color: #a90000;
}

.Titleext:hover{transform: translateY(-10px);}

.textext{
    line-height: 1.5em;
    font-size: 150%;
    color: #5a0606;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.tamuabout{
    font-size: 105%;
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.boldext{
    transition: 250ms;  
}
.boldext:hover{
    color: #a90000;
}

.hrext{
    border-top: 7.5px solid #a90000;
    width: 9%;
    margin-left: 0%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.scrollext{
    font-size: 150%;
    color: #5a0606;
    text-align: center;
    padding-bottom: 40%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.vertlineext{
    border-left: 1px solid #5a0606;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 85%;   
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.container{
    padding-bottom: 15%;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.sepext{
    border-top: 2px solid #a90000;
    width: 85%;
    margin: 0% 0% 10% 0%;
    margin-left: auto;
    margin-right: auto;
}

.subtitleext{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 250%;
    color: #5a0606;
    transition: 250ms;  
}

.subtitleext::before{
    content: "//";
    color: #a90000;
}

.subtitleext:hover{transform: translateY(-10px);}

.logoext{
    border: 3px solid  #5a0606;
    box-shadow: 5px 5px 10px #5a0606;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
}

.logoext:hover{
    transform: translateY(-15px);   
    border: 3px solid  #a90000;
    box-shadow: 15px 15px 5px #5a0606;
}

.logotitleext{
    font-weight: bold;
    line-height: 1.5em;
    font-size: 120%;
    color: #a90000;
    padding-bottom: 5%;
}

.leftabout{
    width: 65%;
    float:left;
    padding-left: 0%;
}

.rightabout{
    margin-left: 70%;
    padding-top: 3%;
    height: 100%;
}

.left2about{
    width: 30%;
    float:left;
    padding-left: 0%;
    padding-top: 3%;
}

.right2about{
    margin-left: 38%;
}

.bottomport{
    margin-top: 4%;
    width: 100%;
    text-align: left;
    animation: 1.9s ease-out 0s 1 slideInFromBottom;
}

.footerport{
    margin-top: 7%;
    text-align: center;
    animation: 3s ease-out 0s 1 slideInFromBottom;
}

.linksext{
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #5a0606;
    transition: 5s;
}

.contactlinkext:link { text-decoration: none; color: #a90000; }

.contactlinkext:hover { text-decoration: underline; }

.moreul{
    list-style: none;
}

.morelist{
    display: inline;
}

.moreext{
    background-color: #5a0606;
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    padding: 1%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #5a0606;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreext:link { text-decoration: none; color: #ffffff;}

.moreext:hover { text-decoration: none; background-color: #a90000; }

.moreul2{
    list-style: none;
    padding-left: 0;
}

.moreext2{
    background-color: #5a0606;
    margin-left: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    padding: 1% 45%;
    font-weight: bold;
    color: #ffffff;
    border:1px solid #5a0606;
    border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: 1s;
}

.moreext2:link { text-decoration: none; color: #ffffff;}

.moreext2:hover { text-decoration: none; background-color: #a90000; }

@media screen and (max-width: 1322px) {
    .vertlineabout{
        border-left: 0px;
    }
    .leftabout {
      width: 100%;
      float: left;     
      margin-bottom: 5%;

    }
    .rightabout {
        width: 100%;
        margin-left: auto;
        float: left;
        margin-bottom: 5%;
    }
    .left2about {
        width: 100%;
        float: left;
        margin-bottom: 5%;

    }
      .right2about {
          width: 100%;
          margin-left: auto;
          float: left;
          margin-bottom: 5%;

      }
}