.body {
    background-color: #f0f4fa;
    margin: 1%;
    padding: 1% 1% 1% 1%;
}


.left{
    float:left;
    margin-right: 20%;
    padding-left: 4%;
}
.right{
    /* float: right; */
    margin-left: 75%;
    margin-bottom: 50%;
}

.Title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 250%;
    color: #1F384D
    
}

.Title::after{
    content: "!";
    color: #356285;
}

hr {
    border-top: 5px solid rgb(34, 92, 200);
    width: 9%;
    margin-left: 0%;

}

.span{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #1F384D
}

.name{
    font-size: 130%;
    font-weight: bold;
    color: #1F384D
}


.tamu{
    font-weight: bold;
    color: rgb(122, 0, 0)
}

.links{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #1F384D
    
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #1F384D

}

.profpic{
    border-radius: 50%;
    border: 2px solid  #356285;
}

ul{
    list-style: none;
}

.quicklinkheader{
    font-size: 130%;
    font-weight: bold;
    color: #1F384D;
    margin-top: 5%;
    margin-bottom: 5%;
}
.quicklinklist{
    margin-right: 1%;
    display: inline;
}

.quicklinks{
    background-color: #A4C2DB;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #1F384D;
    border:1px solid #A4C2DB;
    border-radius: 5px;
    padding-bottom: 1%; 
    padding-top: 1%; 
    padding-right: 1%;     
}

.quicklinkpics{
    width: 1.5%;
    height: 1.5%;
    margin-right: .5%;
    margin-left: 1%;
}


.navbar{
    padding-bottom: 6%;
}
.navbaritem{
    font-size: 160%;
    font-weight: bold;
    color: #1F384D
}
.navbarleft{float:left;}
.navbarright{float:right;}

.navbaritem:link { text-decoration: none; color: #1F384D; }

.quicklinks:link { text-decoration: none; color: #356285;}
.quicklinks:hover { text-decoration: none; background-color: #447ca7b0; }

.contactlink:link { text-decoration: none; color: #356285; }
.contactlink:hover { text-decoration: underline; }
